# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Logs
# =========================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# =========================
# Environment variables
# =========================
.env
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local

# =========================
# Build / TypeScript
# =========================
dist/
build/
coverage/
*.tsbuildinfo

# =========================
# Uploads / fichiers utilisateurs
# =========================
uploads/
public/uploads/

# =========================
# Temporary files
# =========================
tmp/
temp/

# =========================
# IDE
# =========================
.vscode/*
!.vscode/extensions.json
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Windows
# =========================
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# =========================
# Runtime / cache
# =========================
.cache/
.npm/

# =========================
# Debug
# =========================
*.pid
*.seed
*.pid.lock